{
    "version" : "2017-02-28",
    "operation" : "Query",
    "expression": "#pk = :pk",
    "expressionAttributeNames": {
        "#pk": "pk",
    },
    "expressionAttributeValues": {
        ":pk": "ORG#$ctx.args.organizationID#USER#$ctx.args.id",
    }
}